@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}

header {
  padding: 20px;
  background-image: url("imgs/orng.jpg");
}

nav {
  background-color: black;
  overflow: hidden;
}

nav a:hover {
  background-color: white;
  color: black;
}
nav a {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  float: left;
  color: white;
}

main {
  background-color: white;
  text-align: center;
}

h2 {
  padding: 20px;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: black;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
